{% set classes = [
  'c-single-header',
  'c-single-header--' ~ node.bundle|clean_class,
  (content.field_featured_image|field_value) ? 'c-single-header--has-featured-image',
  'js-single-header',
] %}

<header{{ attributes.addClass(classes) }}>
  <img class="c-single-header__image-placeholder" src="/{{ base_path ~ directory }}/assets/img/hero-banner-placeholder.svg"
       alt="Image placeholder"/>

  <div class="c-single-header__container {{ has_featured_image }}">
    {{ drupal_block('system_breadcrumb_block', {label: 'c-single-header__breadcrumbs'}) }}

    {% if node.bundle == 'person' %}
      {# Headshot #}
      <div class="c-single-header__image-wrapper">
        {% if content.field_featured_image|field_value %}
          {{ content.field_featured_image }}
        {% else %}
          <img class="c-single-header__person-placeholder" src="/{{ base_path ~ directory }}/assets/img/fallback-person.svg"
               alt="Image placeholder"/>
        {% endif %}
      </div>
    {% endif %}

    <div class="c-single-header__inner">
      {# Firstname and lastname #}
      {% if (content.field_given_name|field_value or content.field_surname|field_value) and node.bundle == 'person' %}
        <h1 class="c-single-header__title">
          {% if content.field_given_name|field_value %}
            {{ content.field_given_name }}
          {% endif %}
          {% if content.field_surname|field_value %}
            {{ content.field_surname }}
          {% endif %}
        </h1>
      {% else %}
        <h1 class="c-single-header__title">{{ label }}</h1>
      {% endif %}

      {% if content.field_subtitle|field_value %}
        <h2 class="c-single-header__subtitle">{{ content.field_subtitle }}</h2>
      {% endif %}

      {# Job title #}
      {% if content.field_job_title|field_value and node.bundle == 'person' %}
        <h2 class="c-single-header__subtitle"> {{ content.field_job_title }}</h2>
      {% endif %}

      {% if (header_start_time or date or content.field_event_location|field_value) and node.bundle == 'event' %}
        <h2 class="c-single-header__subtitle">
          {# If one day event #}
          {% if header_start_time and date %}
            <span class="c-single-header__subtitle-item">
              {{ date }}
              <span>•</span>
              {{ header_start_time }}
              {% if timezone %}
                {{ timezone }}
              {% endif %}
            </span>
          {% elseif date %}
            <span class="c-single-header__subtitle-item">
            {{- date -}}
           </span>
          {% endif %}

          {# Location #}
          {% if content.field_event_location|field_value %}
            <span class="c-single-header__subtitle-item">{{ content.field_event_location }}</span>
          {% endif %}
        </h2>
      {% endif %}

      <ul class="c-single-header__meta">
        {% if subtype %}
          <li class="c-single-header__meta-item">
            <p class="c-single-header__subtype">{{ subtype }}</p>
          </li>
        {% endif %}

        {% if node.bundle == 'person' %}
          {# Board member is available only if role is 'Board member' #}
          {% if content.field_board_member_type|field_value %}
            <li class="c-single-header__meta-item">
              {{ content.field_board_member_type|field_value.0['#title'] }}
            </li>
          {% endif %}

          {% if content.field_twitter_handle|field_value %}
            <li class="c-single-header__meta-item">
              {% set twitter_handle = content.field_twitter_handle|field_raw('value') %}
              <a class="c-single-header__meta-link"
                 href='{{ "https://twitter.com/#{twitter_handle}" }}'
                 title='{{ "Visit #{content.field_given_name|field_raw('value')} #{content.field_surname|field_raw('value')} twitter profile"|t }}'
                 target='_blank'>
                {{- twitter_handle -}}
              </a>
            </li>
          {% endif %}

          {% if content.field_email|field_value %}
            <li class="c-single-header__meta-item">
              {{ content.field_email }}
            </li>
          {% endif %}
        {% endif %}

        {% if node.bundle == 'career_opportunity' %}
          {# Taxonomies #}
          {% for field in meta_data.career_opportunity.header %}
            {% for item in field %}
              {% if item.url %}
                <li class="c-single-header__meta-item"><a class="c-single-header__meta-link" href="{{ item.url }}">{{ item.title|trim }}</a></li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endif %}

        {% if node.bundle == 'event' %}
          {% if header_start_time %}
            <li class="c-single-header__meta-item">
              {# If daily event #}
              <p class="c-single-header__date">
                {% if end_time %}
                  {{ end_time }}
                {% endif %}
                {% if timezone %}
                  {{ timezone }}
                {% endif %}
              </p>
            </li>
          {% else %}
            {# Not daily event #}
            <li class="c-single-header__meta-item">
              <p class="c-single-header__date">
                {% if start_time %}
                  {{ start_time }} -
                {% endif %}
                {% if end_time %}
                  {{ end_time }}
                {% endif %}
                {% if timezone %}
                  {{ timezone }}
                {% endif %}
              </p>
            </li>

            {# Event format #}
            {% if content.field_format|field_value %}
              <li class="c-single-header__meta-item">
                <p class="c-single-header__date">
                  {{ content.field_format }}
                </p>
              </li>
            {% endif %}

            {# open registration: if set will show 'Open registration' or
      'Application cloed' if event is in the past #}
            {% if registration %}
              <li class="c-single-header__meta-item">
                <p class="c-single-header__date">
                  {{ registration }}
                </p>
              </li>
            {% endif %}
          {% endif %}
        {% endif %}

        {% if date and node.bundle not in ['event', 'career_opportunity', 'person'] %}
          <li class="c-single-header__meta-item">
            <p class="c-single-header__date">{{ date }}</p>
          </li>
        {% endif %}

        {% if authors %}
          <li class="c-single-header__meta-item">
            <ul class="c-single-header__authors-list">
              {% for author in authors %}
                <li class="c-single-header__author-item">
                  {% if author.url %}
                    <a class="c-single-header__author-name c-single-header__author-name--link"
                       href="{{ author.url }}"
                       title="{{ 'Visit '|t ~ author.firstname ~ ' ' ~ author.surname ~ '\'s profile'|t }}"
                       target="{{ author.is_external ? '_blank' : '' }}">
                      {{- author.firstname ~ ' ' ~ author.surname -}}
                    </a>
                  {% else %}
                    <span class="c-single-header__author-name c-single-header__author-name--no-link">{{ author.firstname ~ ' ' ~ author.surname }}<span
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endif %}
      </ul>

      <div class="c-single-header__buttons-wrapper">
        {% if (content.field_registration|field_value and registration_open) or content.field_video_conferencing|field_value or content.field_apply|field_value or content.field_link|field_value or report_pdf %}
          <div class="c-single-header__buttons-left-side">
            {% if (content.field_registration|field_value and registration_open or content.field_video_conferencing) and node.bundle == 'event' %}
              {#              Registration link: available only when registration is open #}
              {% if content.field_registration|field_value and registration_open %}
                {{ content.field_registration }}
              {% endif %}

              {#              View recording or Video conference link #}
              {% if content.field_video_conferencing|field_value %}
                {{ content.field_video_conferencing }}
              {% endif %}
            {% endif %}

            {% if content.field_apply|field_value and node.bundle == 'career_opportunity' %}
              {% if content.field_apply|field_value %}
                {#                Apply #}
                {{ content.field_apply }}
              {% endif %}
            {% endif %}

            {% if content.field_link|field_value %}
              {#              External item #}
              {{ content.field_link }}
            {% endif %}

            {% if report_pdf %}
              {#              Report PDF #}
              {% set file_label =  'Download PDF'|t %}
              <a class="o-button" href="{{ report_pdf.url }}" title="{{ file_label }}">
                {% include '@nrgi/svg/svg.html.twig' with {'svg': 'download-icon'} %}

                {{ file_label }}
              </a>
            {% endif %}
          </div>
        {% endif %}

        <div class="c-single-header__mobile-buttons">
          {% if language_switcher_links %}
            <div class="c-page-header__language-switcher-links js-languages-overlay">
              {% include '@nrgi/node-partials/node--language-switcher-links.html.twig' with {
                'text' :  "Other languages"|t,
                'links' : language_switcher_links,
                'layout_modifier': 'c-language-links--aside',
                'link_modifier': 'o-button o-button--secondary',
              } %}
            </div>

            <button class="c-page-header__languages-button js-languages-button"
                    aria-label="{{ 'Toggle language links'|trans }}"
                    aria-expanded="false">
              {% include '@nrgi/svg/svg.html.twig' with {'svg': 'languages-icon', 'extra_class': 'c-page-header__languages-svg' } %}
            </button>
          {% endif %}

          {% include '@nrgi/node-partials/node--share-links.html.twig' %}
        </div>
      </div>
    </div>
</header>
