{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

<footer class="c-footer">
  <div class="c-footer__container o-container">
    <div class="c-footer__top">
      {% include '@nrgi/region-partials/region--footer-cta-links.html.twig' %}
    </div>

    <div class="c-footer__bottom">
      <div class="c-footer__logo" title="{{ 'Return to the homepage'|t }}">
        {% include '@nrgi/svg/svg.html.twig' with {'svg': 'nrgi-logo-condensed'} %}
      </div>

      {# Footer menu #}
      <div class="c-footer__menu-wrapper">
        {{ elements.footer }}
      </div>

      {# Credits #}
      <div class="c-footer__credits-wrapper">
        <div class="c-footer__copyright">
          © {{ 'now'|date('Y') }}{{ ' NRGI'|trans }}
        </div>

        <div class="c-footer__credit">
          <a href="https://www.designbysoapbox.com/">{{ 'designbysoapbox.com'|trans|upper }}</a>
        </div>
      </div>
    </div>
  </div>
</footer>
