<header class="c-header js-header">
  <div class="c-header__container o-container">
    <div class="c-header__logo-wrapper">
      <a href="/" class="c-header__logo-link" title="{{ 'Return to the homepage'|t }}">
        {% include '@nrgi/svg/svg.html.twig' with {'svg': 'header-logo'} %}
      </a>
    </div>

    <div class="c-header__secondary-menu">
      {{ elements.topnavigation }}
    </div>


    <div class="c-header__main-menu js-main-menu-content">
      {{ elements.mainnavigation }}
    </div>

    <button class="c-header__burger-button js-burger-button"
            aria-label="{{ 'Toggle mobile menu'|t }}"
            aria-expanded="false"
            type="button">
      {% include '@nrgi/svg/svg.html.twig' with {'svg': 'burger-icon', 'extra_class': 'c-header__burger-svg c-header__burger-svg--open'} %}
      {% include '@nrgi/svg/svg.html.twig' with {'svg': 'close-icon','extra_class': 'c-header__burger-svg c-header__burger-svg--close'} %}
    </button>

    <button class="c-header__search-button js-search-button"
            aria-label="{{ 'Toggle mobile search'|t }}"
            aria-expanded="false"
            type="button">
      {% include '@nrgi/svg/svg.html.twig' with {'svg': 'search-icon', 'extra_class': 'c-header__search-svg c-header__search-svg--open'} %}
      {% include '@nrgi/svg/svg.html.twig' with {'svg': 'close-icon','extra_class': 'c-header__search-svg c-header__search-svg--close'} %}
    </button>

    <div class="c-header__search js-header-search">
      {{ elements.nrgi_search_form }}
    </div>
  </div>
</header>
