{% set has_grey_background = (content.field_show_background|field_raw('value') == '1') %}

{% set classes = [
  'c-featured-people',
  'o-section',
  has_grey_background ? 'o-section--has-background o-section--grey-background'
] %}

{% if featured_people %}
  <section{{ attributes.addClass(classes) }}>
    <div class="o-container">
      {% if content.field_title|field_value %}
        <header class="o-section__header">
          {% if content.field_title_size|field_raw('value') != 'small' %}
            <h2 class="o-section__heading">{{ content.field_title }}</h2>
          {% else %}
            <h5 class="o-section__heading o-section__heading--small">{{ content.field_title }}</h5>
          {% endif %}

          {% if content.field_description|field_value %}
            <p class="o-section__description">{{ content.field_description }}</p>
          {% endif %}
        </header>
      {% endif %}

      <div class="c-featured-pages__container o-card-container o-card-container--three-per-row">
        {% for featured_page in featured_people.items %}
          {{ featured_page }}
        {% endfor %}
      </div>

      {% if featured_people.cta %}
        <a class="o-section__button o-button" href="{{ featured_people.cta.url }}"
           target="{{ featured_people.cta.is_external ? '_blank' : '_self' }}">
          {% include '@nrgi/svg/svg.html.twig' with { 'svg' : 'arrow'} %}

          <span>{{ featured_people.cta.title }}</span>
        </a>
      {% endif %}
    </div>
  </section>
{% endif %}
