{% set classes = [
  'c-card',
  'c-card--listing',
  'c-card--' ~ content_type,
  no_image ? 'c-card--listing-no-image'
] %}

{% if subtype in ['Landing Page', 'Listing Page'] %}
  {% set subtype = 'page' %}
{% endif %}

<article{{ attributes.addClass(classes) }}>
  {% if show_image %}
    <div class="c-card__image-wrapper">
      {% if responsive_image %}
        {{ responsive_image }}
      {% else %}
        <img src="/{{ base_path ~ directory }}/assets/img/fallback-default.svg" aria-role="presentation" alt=""/>
      {% endif %}
    </div>
  {% endif %}

  <div class="c-card__content-wrapper">
    <div class="c-card__meta-wrapper">
      {% if subtype %}
        <small class="c-card__tag">
          {{ subtype }}
        </small>
      {% endif %}

      {% if date %}
        <span class="c-card__meta-item">
          {{ date|upper }}
        </span>
      {% endif %}
    </div>

    <h3 class="c-card__title">
      {% if external_link %}
        <a class="c-card__link" href="{{ external_link.uri }}" target="_blank"
           title="{{ external_link.title }}">
          {% if slug %}
            <span class="c-card__link-slug">{{ slug }} /</span>
          {% endif %}

          <span>{{ title|field_value }}</span>

          {% include '@nrgi/svg/svg.html.twig' with { 'svg' :  'external', 'extra_class' : 'c-card__external-icon' } %}
        </a>
      {% else %}
        <a class="c-card__link" href="{{ url }}">
          {% if slug %}
            <span class="c-card__link-slug">{{ slug }} /</span>
          {% endif %}

          <span>{{ title|field_value }}</span>
        </a>
      {% endif %}
    </h3>
  </div>
</article>
