{% set classes = [
  'c-card',
  'c-card--page',
  'c-card--' ~ layout
] %}

  {% if title or responsive_image %}
    <article{{ attributes.addClass(classes) }}>
      <div class="c-card__content-wrapper">
        <h3 class="c-card__title">
          <a class="c-card__link" href="{{ url }}">
            {{ title }}
          </a>
        </h3>

        {% if description %}
          <p class="c-card__description">
            {{ description }}
          </p>
        {% endif %}
      </div>

      {% if show_image %}
        <div class="c-card__image-wrapper">
          {% if responsive_image %}
            {{ responsive_image }}
          {% else %}
            <img src="/{{ base_path ~ directory }}/assets/img/fallback-default.svg" aria-role="presentation" alt=""/>
          {% endif %}
        </div>
      {% endif %}
    </article>
  {% endif %}
