{% if language_direction == 'rtl' %}
  {% set rtl = true %}
{% endif %}

{% set classes = [
  'c-node',
  'c-node--type-' ~ node.bundle|clean_class,
  rtl ? 'rtl'
] %}

<article{{ attributes.addClass(classes).setAttribute('dir', language_direction) }}>
  {% include "@nrgi/node-partials/node--single-header.html.twig" %}

  {% if meta_data or content.field_feature_image|field_value or content.field_page_builder|field_value %}
    <div class="c-single-content single-content--person">
      <div class="c-single-content__top js-sidebar-container">
        {# Sidebar #}
        <aside class="c-single-content__sidebar js-sidebar">
          {# Person specific sidebar meta layout #}
          {% include '@nrgi/node-partials/node--sidebar-meta.html.twig' %}
        </aside>
      </div>

      {% if content.field_page_builder|field_value %}
        {{ content.field_page_builder }}
      {% endif %}
    </div>
  {% endif %}

  {# For mobile #}
  {% include '@nrgi/node-partials/node--metadata.html.twig' with {
    'layout_modifier': 'c-meta-rows--mobile'
  } %}

  {# Person contributions #}
  {% set listing_results = drupal_view_result('contextual_views', 'person_contributions', node.id)|length %}
  {% if listing_results > 0 %}
    {% set listing = drupal_view('contextual_views', 'person_contributions', node.id) %}
    <section class="o-section">
      <div class="o-container">
        {% if content.field_title|field_value %}
          <header class="o-section__header">
            {% if content.field_contributions_title|field_value %}
              <h2 class="o-section__heading">{{ content.field_contributions_title }}</h2>
            {% endif %}

            {% if content.field_contributions_description|field_value %}
              <p class="o-section__description">{{ content.field_contributions_description }}</p>
            {% endif %}
          </header>
        {% endif %}
      </div>

      {{ listing }}
    </section>
  {% endif %}
</article>
